<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/articles/list">Articles</a>
    </li>
    <li class="breadcrumb-item active">
        Edit
    </li>
</ol>
<h1 class="display-4">Add article</h1>
<form action="/articles/update/<%= article.id %>" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" value="<%= article.title %>">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" name="body" class="form-control"><%= article.body %></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>