<h1 class="display-4">Welcome to ArticleBase</h1>
<p class="mb-4">This is a Sails.js app for managing articles</p>
<a href="/articles/list" class="btn btn-light">View articles</a>
<a href="/articles/add" class="btn btn-light">Add article</a>